body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
}
#result {
    margin-top: 15px;
    font-weight: bold;
}
@media (max-width: 500px) {
    .container {
        margin: 20px;
        padding: 15px;
    }
    button {
        width: 100%;
    }
}
