body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    width: 90%;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
}
#result {
    margin-top: 15px;
    font-weight: bold;
}
